$primary-color: #000;
$error-color: #990000;
$success-color: #009900;

.alert {
  text-align: center;
  padding: 1rem;
  border: 1px solid $primary-color;
  color: $primary-color;
  margin: 0 0 1rem 0;
}

.error {
  color: $error-color;
}

.alert.error{
  border: 1px solid $error-color;
}

.success {
  color: $success-color;
}

.alert.success{
  border: 1px solid $success-color;
}
